/* Mis estilos personalizados para mi pagina web */
.no-padding {
    padding-left: 0;
    padding-right: 0;
  }


.colorMenu{
    background-color:#4b1846;
    color: white;
}

.acerca-de{   
    top: 50px;
    color: #FF8357;
    font-size: 30px;
    text-align: center;
}

.parrafos{   
    
    color: #212121;
    font-size: 20px;
    text-align: justify;
    top: 70px;
    
}

.contactame{
    -ms-flex-align: center!important;
  align-items: center!important;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.bottom-btn {
    
    left: 60%;
    bottom: -20px; /* half of the button height */
    margin-left: -77px; /* half of the button width */
    /* instead of bottom and margin-left, you can use translateX as well. */
}
.bottom-btn-2 {
   
    left: 70%;
    bottom: -20px; /* half of the button height */
    margin-left: -77px; /* half of the button width */
    /* instead of bottom and margin-left, you can use translateX as well. */
}

.contenido-info{
    margin: 45px;
}
